In [75]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv("C:/Users/SATHISH KUMAR/Desktop/HUMAN/final/all_of_comined.csv")

In [77]:
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,8,0,STATE - RAJASTHAN,0,0,0,Total,9017944,7594737,1423207,...,618445,2307752,1046813,1260939,1825830,749381,1076449,481922,297432,184490
1,8,0,STATE - RAJASTHAN,1,0,0,"Crop and animal production, hunting and relate...",450766,201572,249194,...,19810,408728,76106,332622,390864,71124,319740,17864,4982,12882
2,8,0,STATE - RAJASTHAN,1,11,0,Growing of non-perennial crops,12876,10547,2329,...,1013,9562,4051,5511,8147,3295,4852,1415,756,659
3,8,0,STATE - RAJASTHAN,1,11,111,"Growing of cereals (except rice), leguminous c...",12061,9911,2150,...,942,9085,3883,5202,7777,3161,4616,1308,722,586
4,8,0,STATE - RAJASTHAN,1,11,112,Growing of rice,79,71,8,...,2,13,4,9,11,2,9,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,21,399,District - Malkangiri,99,0,0,Activities of extraterritorial organizations a...,574,315,259,...,38,1222,294,928,1176,286,890,46,8,38
195141,21,399,District - Malkangiri,99,991,0,Blank,435,266,169,...,22,586,202,384,558,198,360,28,4,24
195142,21,399,District - Malkangiri,99,991,9910,Blank,435,266,169,...,22,586,202,384,558,198,360,28,4,24
195143,21,399,District - Malkangiri,99,992,0,Incomplete description/ Wrongly Classifed,139,49,90,...,16,636,92,544,618,88,530,18,4,14
195144,21,399,District - Malkangiri,99,992,9920,Incomplete description/ Wrongly Classifed,139,49,90,...,16,636,92,544,618,88,530,18,4,14

In [78]:
df['Urban_Males'] = df['Main Workers - Urban - Males']
df['Urban_Females'] = df['Main Workers - Urban - Females']
df['Rural_Males'] = df['Main Workers - Rural - Males']
df['Rural_Females'] = df['Main Workers - Rural - Females']

In [79]:
industry_mapping = {
    'Retail': 'Consumer Goods',
    'Poultry': 'Agriculture',
    'Manufacturing': 'Manufacturing'
}

In [80]:
df['Industry_Group'] = df['NIC Name'].map(industry_mapping).fillna('Other')

In [81]:
df['Total_Workers'] = df['Main Workers - Total -  Persons'] + df['Marginal Workers - Total -  Persons']

In [82]:
df['MaleFemale_Ratio'] = df['Main Workers - Total - Males'] / (df['Main Workers - Total - Females'].replace(0, 1))

In [83]:
df[['Total_Workers','MaleFemale_Ratio']].isnull().sum()

Total_Workers       0
MaleFemale_Ratio    0
dtype: int64

In [84]:
df[['Total_Workers','MaleFemale_Ratio']] = df[['Total_Workers','MaleFemale_Ratio']].astype(int)

In [85]:
df[['State', 'District']] = df['India/States'].str.extract(r'STATE - (\w+)|District - (\w+)', expand=True)
df = df.drop('India/States', axis=1)

In [86]:
df[['State', 'District']].isnull().sum()

State       180430
District     14715
dtype: int64

In [87]:
df['State'] = df['State'].ffill()
df['District'] = df['District'].bfill()

In [88]:
df[['State', 'District']].isnull().sum()

State       0
District    0
dtype: int64

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195145 entries, 0 to 195144
Data columns (total 33 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   State Code                           195145 non-null  int64
 1   District Code                        195145 non-null  int64
 2   Division                             195145 non-null  int64
 3   Group                                195145 non-null  int64
 4   Class                                195145 non-null  int64
 5   NIC Name                             195145 non-null  object
 6   Main Workers - Total -  Persons      195145 non-null  int64
 7   Main Workers - Total - Males         195145 non-null  int64
 8   Main Workers - Total - Females       195145 non-null  int64
 9   Main Workers - Rural -  Persons      195145 non-null  int64
 10  Main Workers - Rural - Males         195145 non-null  int64
 11  Main Workers - Rural - Females       195145 non-null  int64
 12  Main Workers - Urban -  Persons      195145 non-null  int64
 13  Main Workers - Urban - Males         195145 non-null  int64
 14  Main Workers - Urban - Females       195145 non-null  int64
 15  Marginal Workers - Total -  Persons  195145 non-null  int64
 16  Marginal Workers - Total - Males     195145 non-null  int64
 17  Marginal Workers - Total - Females   195145 non-null  int64
 18  Marginal Workers - Rural -  Persons  195145 non-null  int64
 19  Marginal Workers - Rural - Males     195145 non-null  int64
 20  Marginal Workers - Rural - Females   195145 non-null  int64
 21  Marginal Workers - Urban -  Persons  195145 non-null  int64
 22  Marginal Workers - Urban - Males     195145 non-null  int64
 23  Marginal Workers - Urban - Females   195145 non-null  int64
 24  Urban_Males                          195145 non-null  int64
 25  Urban_Females                        195145 non-null  int64
 26  Rural_Males                          195145 non-null  int64
 27  Rural_Females                        195145 non-null  int64
 28  Industry_Group                       195145 non-null  object
 29  Total_Workers                        195145 non-null  int64
 30  MaleFemale_Ratio                     195145 non-null  int64
 31  State                                195145 non-null  object
 32  District                             195145 non-null  object
dtypes: int64(29), object(4)
memory usage: 49.1+ MB

In [90]:
df['State'].unique()

array(['RAJASTHAN', 'ARUNACHAL', 'MANIPUR', 'MIZORAM', 'WEST', 'NCT',
       'TRIPURA', 'JHARKHAND', 'GUJARAT', 'MAHARASHTRA', 'KARNATAKA',
       'GOA', 'KERALA', 'TAMIL', 'PUDUCHERRY', 'HIMACHAL', 'UTTARAKHAND',
       'UTTAR', 'BIHAR', 'SIKKIM', 'NAGALAND', 'ASSAM', 'ODISHA'],
      dtype=object)

In [91]:
state_to_region = { 'RAJASTHAN': 'West','ARUNACHAL': 'North-East','MANIPUR':'North-East','MIZORAM':'North-East','TRIPURA':'North-East','JHARKHAND':'East','GUJARAT':'West','MAHARASHTRA': 'West','KARNATAKA':'South','GOA':'West','KERALA':'South','TAMIL':'South','PUDUCHERRY':'Union Territories','HIMACHAL':'North','UTTARAKHAND':'North', 'UTTAR': 'North', 'BIHAR': 'East','SIKKIM':'East','NAGALAND':'North-East','ASSAM':'North-East','ODISHA':'East'
}

In [92]:
df['Region'] = df['State'].map(state_to_region).fillna('Other')

In [93]:
df.columns

Index(['State Code', 'District Code', 'Division', 'Group', 'Class', 'NIC Name',
       'Main Workers - Total -  Persons', 'Main Workers - Total - Males',
       'Main Workers - Total - Females', 'Main Workers - Rural -  Persons',
       'Main Workers - Rural - Males', 'Main Workers - Rural - Females',
       'Main Workers - Urban -  Persons', 'Main Workers - Urban - Males',
       'Main Workers - Urban - Females', 'Marginal Workers - Total -  Persons',
       'Marginal Workers - Total - Males',
       'Marginal Workers - Total - Females',
       'Marginal Workers - Rural -  Persons',
       'Marginal Workers - Rural - Males',
       'Marginal Workers - Rural - Females',
       'Marginal Workers - Urban -  Persons',
       'Marginal Workers - Urban - Males',
       'Marginal Workers - Urban - Females', 'Urban_Males', 'Urban_Females',
       'Rural_Males', 'Rural_Females', 'Industry_Group', 'Total_Workers',
       'MaleFemale_Ratio', 'State', 'District', 'Region'],
      dtype='object')

In [94]:
df1=df

In [95]:
df.to_csv("Feature_Eng.csv",index =False)